/* Navbar.css */

/* General Styles */
.navbar {
    padding: 1rem;
}

.navbar-brand .logo {
    width: 150px;
    height: auto;
}

.navbar-toggler {
    border: none;
}

/* Adjust dropdown styles */
.navbar-nav .nav-link,
.navbar-nav .dropdown-item {
    color: #000;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.navbar-nav .dropdown-menu {
    background-color: #77797a;
    border: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar-brand .logo {
        width: 120px;
    }

    .navbar-nav .nav-link,
    .navbar-nav .dropdown-item {
        font-size: 0.9rem;
        padding: 0.3rem 0.5rem;
    }
}

@media (max-width: 576px) {
    .navbar-brand .logo {
        width: 100px;
    }

    .navbar-nav .nav-link,
    .navbar-nav .dropdown-item {
        font-size: 0.8rem;
        padding: 0.2rem 0.4rem;
    }

    .navbar-nav .dropdown-menu {
        position: static;
        float: none;
        width: 100%;
        padding: 0.5rem;
    }
}

/* Button Styles */
.navbar-nav .btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
}

.navbar-nav .btn:hover {
    background-color: #0056b3;
}
